version: '2'

services:

  php:
    build: ./lamp/php56/
    env_file:
    - ./.lamp.env
    volumes:
    - ./:/var/www/html:rw
    ports:
    - "8080:80"
    - "44300:443"
    links:
    - mysql
    restart: "no"

  mysql:
    image: mysql:5.5
    env_file:
    - ./.lamp.env
    restart: "no"

  adminer:
    build: ./lamp/adminer/
    env_file:
    - ./.lamp.env
    ports:
    - "8081:8080"
    restart: "no"
